a {
  color: #f7f8f9 !important; /* Default link color */
  text-decoration: underline; /* Underline the link */
}

a:hover {
  color: #ffffff; /* Change color on hover */
}

body,
div.quarto-title-banner {
  color: #f7f8f9;
}

/* Optional: Remove navbar shadow or add border */
.navbar {
  box-shadow: none !important;
  border-bottom: 0px solid #373534 !important;
}

div.listing-date,
div.listing-author {
  color: #aeb4ba;
}

div.quarto-post,
div#quarto-appendix {
  border-color: #3c4d5b !important;
}

blockquote {
  border-left: 0px;
  padding-top: 0px;
  font-style: italic;
  color: #c6cbcf !important;
}

.footnote-ref {
  color: #d0d6dc;
}

div.description {
  display: none !important;
}

code {
  background-color: rgb(230 230 230 / 10%) !important;
  color: #b278cd;
}
