a {
  color: #f7f8f9 !important; /* Default link color */
  text-decoration: underline; /* Underline the link */
}

a:hover {
  color: #ffffff; /* Change color on hover */
}

body,
div.quarto-title-banner {
  color: #f7f8f9;
}

/* Optional: Remove navbar shadow or add border */
.navbar {
  box-shadow: none !important;
  border-bottom: 0px !important;
}

div.listing-date,
div.listing-author {
  color: #aeb4ba;
}

div.quarto-post,
div#quarto-appendix {
  border-color: #3c4d5b !important;
}

blockquote.blockquote {
  border-left-width: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  color: #f7f8f9;
  font-size: 120%;
  border-color: #c6cbcf;
}

@media screen and (min-width: 768px) {
  blockquote.blockquote {
    margin-right: 100px;
  }
}

.footnote-ref {
  color: #d0d6dc;
}

div.description {
  display: none !important;
}

code {
  background-color: rgb(230 230 230 / 10%) !important;
  color: #b278cd;
}

div.ml-form-embedBody.ml-form-embedBodyDefault.row-form > div > h4 {
  display: none !important;
}

h1,
h2,
h3 {
  font-weight: 700 !important;
}

h3.listing-title {
  font-size: 1.55rem !important;
}

.table {
  background-color: rgb(15, 37, 55) !important; /* Dark gray background */
}

.table th,
.table td {
  border-color: #3c4d5b;
}

.table th {
  background-color: #030F1A; /* Dark gray background */
}

.table tr:nth-child(odd) {
  background-color: #03121F !important; /* Slightly lighter background for odd rows */
}

.table tr:nth-child(even) {
  background-color: #03121F !important; /* Dark gray background for even rows */
}

